<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Cowboy_Roofing_services</title>
</head>

<style>
    @media only screen and (min-width: 1024px) {
        #disLg {
            display: none;
        }
    
        #imgResize {
            height: 375px;
    
        }
      #topImage1 {
        height: 375px;
        background-size: 1175px 375px;
        background-repeat: no-repeat;
        background-image: url({{url_for('static', filename='img/clientView/servHeadLg.png')}});
      }
      #iframe {

        height: 400px;
      }
      #htext{
        height: 170px;
        }
        #logoResize{
            margin-top: 50px;
            height:120px;
            width: 190px;
        }
        #logoResize1{
            margin-top: 10px;
            height:120px;
            width: 190px;
        }
        #fsocial{
            height: 28px;
            width: 28px;
        }
        #lsocial{
            height: 32px;
            width: 32px;
        }
        #navMarge{
            background-color: #88817b;
            height: 75px;
        }
    }
    body{
        background-color: aliceblue;
    }




    @media only screen and (max-width: 480px) {
        #disSm{
            display: none;
        }
        #topImage1 {
        height: 280px;
        background-repeat: no-repeat; 
        background-size: 430px 250px;
        background-image: url({{url_for('static', filename='img/clientView/servHeadSm.png')}});
      }
      #iframe {
        width: 400px;
        height: 300px;
      }
      #htext{
        height: 110px;
        }
        #logoResize{
            height:90px;
            width: 130px;
        }
        #logoResize1{
            margin-top: 10px;
            height:90px;
            width: 130px;
        }
        #fsocial{
            height: 28px;
            width: 28px;
        }
        #lsocial{
            height: 31px;
            width: 31px;
        }
        #navMarge{
            background-color: #88817b;
        }

    }

</style>
<body>
    <div id="topImage1" class="container">

        <nav id="navMarge" class="fixed-top navbar navbar-light navbar-expand-md navigation-clean-button">
            <div class="container"><a class="navbar-bra nd" href="#"><img id="logoResize"
                        src="{{ url_for('static', filename='img/clientView/coyboysRoofingLogo.png') }}" alt=""></a>
                <div id="disSm" class="col-4"></div>
                <button data-toggle="collapse" data-target="#navcol-1" class="navbar-toggler mb-4"><span
                        class="visually-hidden"></span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto ">
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/aboutUs">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/serviceOpt1">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/recentProjects">Recent Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/certifications">Cerifications</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/contact">Contact</a>
                        </li>
                        {% if 'id' in session%}
                        <li class="nav-item">
                            <a class="nav-link text-light" href="/logout">Log out</a>
                        </li>
                        {% endif %}
                </div>
            </div>
        </nav>
        <div id="htext" class="row">
        </div>
        <div class="row">
            <h1 class="col text-white text-center">Services</h1>
        </div>
        <div class="row">
            <div class="col-4"></div>
            <h1 class="col text-white text-center" style="border-top: 5px solid #8b4e4b ;"></h1>
            <div class="col-4"></div>
        </div>
        <div class="row">
            <p class="col text-white text-center">Home/Services</p>
        </div>
        <div id="disSm" class="row">
            <div id="disSm" class="col-5"></div>
            <div id="disLg" class="col"></div>
            <div class="ml-3 col-2">
                <div class="row">
                    <div class="col">
                        <a href="{{dsainfo.facebook}}"><img id="fsocial"
                                src="{{ url_for('static', filename='img/facebook_logo_final.png') }}" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="{{dsainfo.linkedin}}"><img id="lsocial"
                                src="{{ url_for('static', filename='img/linkedin_logo_final.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
            <div id="disLg" class="col"></div>
            <div id="disSm" class="col-5"></div>
        </div>
        <div id="disLg" class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="row">
                    <div class="col">
                        <a href="{{dsainfo.facebook}}"><img id="fsocial"
                                src="{{ url_for('static', filename='img/facebook_logo_final.png') }}" alt=""></a>
                    </div>
                    <div class="col">
                        <a href="{{dsainfo.linkedin}}"><img id="lsocial"
                                src="{{ url_for('static', filename='img/linkedin_logo_final.png') }}" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    <div class="container mt-2">
        <div class="row d-flex justify-content-center mb-2">
            <a href="#remodel">
                <div class="col" style="border: 2px solid #8b4e4b ;">{{services.serv1}}</div>
            </a>
            <a href="#renovate">
                <div class="col" style="border: 2px solid #8b4e4b  ;">{{services.serv2}}</div>
            </a>
            <a href="#shell">
                <div class="col" style="border: 2px solid #8b4e4b ;">{{services.serv3}}</div>
            </a>
            <a href="#disaster">
                <div class="col" style="border: 2px solid #8b4e4b ;">{{services.serv4}}</div>
            </a>

        </div>
        <div class="row">
            <img id="imgResize" class="col align-self-center"
                src="{{ url_for('static', filename='img/clientView/servOpt1.png') }}" alt="">
            <div class="col">
                <div class="row">
                    <h3 class="col text-center mt-1 text-bold">{{services.serv1}}</h3>
                </div>
                <div class="row">
                    <div id='dis' class="col-4"></div>
                    <div class="col border border-primary"></div>
                    <div id="dis" class="col-4"></div>
                </div>
                <div class="row p-3" id="remodel">
                    {% for x in serv1info %}
                    <div class="row">
                        <p class="col">{{x}}</p>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <a href='/contact' class="col">Get in Contact, Click here...</a>
                    <a href='#' class="col">Top^</a>
                </div>
            </div>
        </div>
        <div id="renovate"></div>
        <div class="row">
            <div id="disSm" class="col">
                <div class="row">
                    <h3 class="col text-center mt-1 text-bold">{{services.serv2}}</h3>
                </div>
                <div class="row">
                    <div id='disLg' class="col-4"></div>
                    <div class="col border border-primary"></div>
                    <div id="disLg" class="col-4"></div>
                </div>
                {% for x in serv2info %}
                <div class="row">
                    <p class="col">{{x}}</p>
                </div>
                {% endfor %}
                <div class="row">
                    <a href='/contact' class="col">Get in Contact, Click here...</a>
                    <a href='#' class="col">Top^</a>
                </div>
            </div>

            <img id="imgResize" class="col align-self-center"
                src="{{ url_for('static', filename='img/clientView/servOpt2.png') }}" alt="">
            <div id="disLg" class="col">
                <div class="row">
                    <h3 class="col text-center mt-1 text-bold">{{services.serv2}}</h3>
                </div>
                <div class="row">
                    <div id='disLg' class="col-4"></div>
                    <div class="col border border-primary"></div>
                    <div id="disLg" class="col-4"></div>
                </div>
                <div class="row p-3">
                    {% for x in serv2info %}
                    <div class="row">
                        <p class="col">{{x}}</p>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <a href='/contact' class="col">Get in Contact, Click here...</a>
                        <a href='#' class="col">Top^</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="shell"></div>
        <div class="row">
            <img id="imgResize" class="col align-self-center"
                src="{{ url_for('static', filename='img/clientView/servOpt3.png') }}" alt="">
            <div id="disSm" class="col">
                <div class="row">
                    <h3 class="col text-center mt-1 text-bold">{{services.serv3}}</h3>
                </div>
                <div class="row">
                    <div id='dis' class="col-4"></div>
                    <div class="col border border-primary"></div>
                    <div id="dis" class="col-4"></div>
                </div>
                <div class="row p-3">
                    {% for x in serv3info %}
                    <div class="row">
                        <p class="col">{{x}}</p>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <a href='/contact' class="col">Get in Contact, Click here...</a>
                        <a href='#' class="col">Top^</a>
                    </div>
                </div>
            </div>
            <div id="disLg" class="col">
                <div class="row">
                    <h3 class="col text-center mt-1 text-bold">{{services.serv3}}</h3>
                </div>
                <div class="row">
                    <div id='disLg' class="col-4"></div>
                    <div class="col border border-primary"></div>
                    <div id="disLg" class="col-4"></div>
                </div>
                <div class="row p-3">
                    {% for x in serv3info %}
                    <div class="row">
                        <p class="col">{{x}}</p>
                    </div>
                    {% endfor %}
                    <div class="row">
                        <a href='/contact' class="col">Get in Contact, Click here...</a>
                        <a href='#' class="col">Top^</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="disSm" class="col">
                    <div class="row">
                        <h3 class="col text-center mt-1 text-bold">{{services.serv4}}</h3>
                    </div>
                    <div class="row">
                        <div id='disLg' class="col-4"></div>
                        <div class="col border border-primary"></div>
                        <div id="disLg" class="col-4"></div>
                    </div>
                    <div class="row p-3">
                        {% for x in serv4info %}
                        <div class="row">
                            <p class="col">{{x}}</p>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <a href='/contact' class="col">Get in Contact, Click here...</a>
                            <a href='#' class="col">Top^</a>
                        </div>
                    </div>
                </div>
                <div id="disaster"></div>
                <img id="imgResize" class="col align-self-center"
                    src="{{ url_for('static', filename='img/clientView/servOpt4.png') }}" alt="">
            </div>
            <div id="disLg" class="col">
                <div class="row">
                    <h3 class="col text-center mt-1 text-bold">Disaster Recovery</h3>
                </div>
                <div class="row">
                    <div id='disLg' class="col-4"></div>
                    <div class="col border border-primary"></div>
                    <div id="disLg" class="col-4"></div>
                </div>
                {% for x in serv4info %}
                <div class="row">
                    <p class="col">{{x}}</p>
                </div>
                {% endfor %}
                <div class="row">
                    <a href='/contact' class="col-6">Get in Contact, Click here...</a>
                    <a href='#' class="col">Top^</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-dark mt-4">
        <img id="logoResize1" src="{{ url_for('static', filename='img/clientView/coyboysRoofingLogo.png') }}" alt="">
        <p style="color: whitesmoke;">Cowboys Roofing LLC, DSA contractors,RS Ark LLC</p>
        <p4 style="color: whitesmoke;">©RSarkLLC</p4>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</html>